
.columns, .column{
  outline: 1px solid red;
}


.hero {
    background-image: url("http://picsum.photos/1920/1200/?random");
  }
  
  .hero.is-info a:hover {
    background-color: rgba(253, 101, 134, 0.37) !important;
  }
  
  a.navbar-item:hover, a.navbar-item.is-active,
  a.navbar-link:hover,
  a.navbar-link.is-active {
    background-color: rgba(253, 101, 134, 0.37) !important;
  }
  
  .hero .title{
      margin-bottom: 3rem;
    }

    .hero .subtitle{
        max-width: 600px;
        line-height: 2rem;
    }

  .hero .title .subtitle{
      margin-left: 2rem;
  }

  .section {
    padding-top: 7rem;
    padding-bottom: 7.5rem;
  }


 h2.title {
      margin-bottom: 1rem;
  }
  
  p.tag {
    background-color: #00d1b2;
  }
  
  p.tag a {
    color: #fff;
  }
  
  p.tag a:hover {
    background-color: #FD6585;
  }
  
  .spacer-is-small {margin-top: 2rem;}

  .spacer-is-large {margin-top: 5rem;}

 .bottom-line{
  border-bottom: 6px solid orange;
    width: 100px;
   margin-left: auto;
   margin-right: auto;
  
  }

  
  .quote{
    color: #4a4a4a;
    font-size: 1.30rem;
    font-weight: 400;
    line-height: 1.25;
  }

  .author{
    color: orange;
    font-size: 16px;
  }
  
  .vertical-line{
    border-left: 6px solid #181845;
    height: 75px;
    position: absolute;
    top: 0;
  }

.owl-carousel {
  .item {
 padding: 20px 20px 20px 20px;
  }
}


.owl-dot, .owl-dots {
  display:none;
}


  .parallax-section {
    height: 80vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    position:relative;
    background-image: url("http://picsum.photos/1920/1200/?random");
  }
  
 
  .cta-card { 
     margin-top: 7vh;
  }

  .cta-card p{
    font-size: 1rem;
    color:white;
  }

  .cta-card h2{
    color: white;
  }
 
 
  .is-call-to-action {
    background-color: #212121;
    border-radius: 7px;
    opacity: .85;
    padding: 30px 30px 30px 30px; 
  }
 
  .media-left {
    background-image: url('http://picsum.photos/375/500/?random');
    background-size: cover;
    background-position: center;
    height: 500px;
    border: 15px solid white;
    border-radius: 5px;
    box-shadow: rgba(14, 25, 80, .3) 0px 5px 20px 0px;
  }
 
  .tile.box{
    box-shadow: rgba(14, 25, 80, .3) 0px 5px 20px 0px;
  }


  .gray {
    background-color: #f7f7f7;
  }

  @media only screen and (max-width: 500px) {
    .cta-card{
        max-width: 100%;
        margin: auto;
        display: flex;
        overflow: hidden;
    }
  }
  
