.hero {
    background-image: linear-gradient(135deg, #FD6585 10%, #0D25B9 100%);
  }
  
  .hero.is-info a:hover {
    background-color: rgba(253, 101, 134, 0.37) !important;
  }
  
  a.navbar-item:hover, a.navbar-item.is-active,
  a.navbar-link:hover,
  a.navbar-link.is-active {
    background-color: rgba(253, 101, 134, 0.37) !important;
  }
  
  .hero .title{
      margin-bottom: 3rem;
    }

    .hero .subtitle{
        max-width: 600px;
        line-height: 2rem;
    }

  .hero .title .subtitle{
      margin-left: 2rem;
  }

  .section {
    padding-top: 7rem;
    padding-bottom: 7.5rem;
  }


 h2.title {
      margin-bottom: 1rem;
  }
  
  p.tag {
    background-color: #00d1b2;
  }
  
  p.tag a {
    color: #fff;
  }
  
  p.tag a:hover {
    background-color: #FD6585;
  }
  
  .spacer-top {margin-top: 2rem;}

  .parallax-section {
    height: 80vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    position:relative;
    background-image: url("../images/placeholder.jpg");
  }
  
 
  .cta-card { 
     margin-top: 7vh;
  }

  .cta-card p{
    font-size: 1rem;
    color:white;
  }

  .cta-card h2{
    color: white;
  }
 
 
  .is-call-to-action {
    background-color: #212121;
    border-radius: 7px;
    opacity: .85;
    padding: 30px 30px 30px 30px; 
  }
 
  
 
  

  @media only screen and (max-width: 500px) {
    .cta-card{
        max-width: 100%;
        margin: auto;
        display: flex;
        overflow: hidden;
    }
  }
  
 
  
  